/* Variables */

:root {
  --primary-color: #7633f9;
  --secondary-color: #ff9800;
  --transition: 0.2s ease-in-out;
  /* Programming colors  */
  --html-color: #e34c26;
  --css-color: #0949d4;
  --js-color: #f0db4f;
  --python-color: #3572a5;
  --java-color: #b07219;
  --react-color: #61dafb;
  --r-color: #545;
  --microsoft-teams-color: #0078d7;
  --microsoft-excel-color: #076127;
  --sql-color: #a5a5a5;
}