/* Categories section */

.categories-container {
  flex-wrap: wrap;
  gap: 50px;
  .card {
    max-width: 500px;
    min-width: 350px;
    &-header {
      background-color: var(--primary-color);
      color: #fff;
      display: flex;
      justify-content: space-around;
    }
    ul li {
      margin-left: 2rem;
      font-weight: 700;
      color: var(--primary-color);
    }
    &-title {
      text-align: center;
    }
    i {
      font-size: 3.5rem;
      border-radius: 10%;
      box-shadow: 0 0 10px rgba($color: #000, $alpha: 0.5);
      padding: 0.5rem;
      margin: 0.2rem 0;
      transition: var(--transition);
    }
    i:hover {
      background-color: #fff;
      transition: var(--transition);
    }
  }
}